body {
  background-color: #FFFFF5;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

#fraidy {
  padding: 20px;
  min-height: 96vh;
}

article {
  max-width: 780px;
  margin: 0 auto;
}

#menu {
  ul {
    margin-top: -56px;
    float: right;
    list-style: none;
    padding: 0;
  }

  li {
    display: inline;
  }

  a {
    display: block;
    text-decoration: none;
    background-color: #FF0099;
    padding: 7px 9px;
    margin: 15px 5px;
    border-radius: 18px;
    font-weight: bold;
    color: white;
  }
}

#follows {
  ol {
    list-style: none;
    padding: 0;
  }

  & > ol > li {
    border-bottom: dotted 1px #C77;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
    }
  }

  #tags {
    border-bottom: solid 1px #eee;
    width: 100%;
    margin-bottom: 12px;

    li {
      font-family: monospace;
      font-size: 1.6rem;
      margin-right: 6px;
      text-align: center;
      background-color: #eee;
      box-shadow: 0 0 0 1px #ddd;

      a {
        padding: 4px 20px;
        text-decoration: none;
      }

      a.active {
        background-color: #fffff5;
      }

      a:hover {
        background-color: #fff;
      }
    }
  }

  #imps li {
    font-family: sans-serif;
    font-size: 0.9rem;
    font-variant: small-caps;
    border-bottom: none;
    margin-right: 6px;

    a {
      color: #975;
    }

    &.active {
      font-size: 1.1rem;
      background: #FC9;
      padding: 2px 6px;
    }
  }


  h3 {
    font-size: 1.1rem;
    margin: 8px 0 4px 0;

    a {
      display: inline-block;
      text-decoration: none;
      color: #997755;
      overflow: hidden;
      max-width: calc(100% - 40px);
      white-space: nowrap;
      margin-bottom: -4px;
      margin-top: 4px;
    }

    span, a {
      padding: 0 3px;
    }
  }

  .latest {
    border-radius: 4px;
    background-color: #888866;
    color: #FFEFD5;
    font-size: .9rem;
    padding: 4px;
    cursor: default;
  }

  li.age-d,
  li.age-w {
    h3 a {
      color: #007777;
    }
    .latest {
      background-color: #559999;
    }
  }

  li.age-m,
  li.age-h {
    h3 a {
      color: #003333;
    }
    .latest {
      background-color: #118844;
    }
  }

  h3 a.url:hover {
    text-decoration: underline;
    color: #995533;
  }

  h3 img.favicon {
    background-color: #ECA;
    margin-bottom: -6px;
    margin-top: 6px;
    border-radius: 4px;
    border: solid 2px #ECA;
  }

  div.extra {
    font-size: 1.1rem;
    margin-bottom: 6px;
    padding-left: 33px;

    ol.title {
      list-style: square;

      li {
        margin-bottom: 6px;

        a {
          text-decoration: none;
          color: #630;
        }

        a:visited {
          color: #975;
        }

        a:hover {
          color: #079;
        }

        .ago {
          font-size: 0.9rem;
          color: #590;
        }
      }
    }

    a.collapse {
      user-select: none;
      display: inline-block;
      background-color: #975;
      border-radius: 7px;
      color: #FED;
      font-weight: bold;
      font-size: 14px;
      baseline-shift: -3px;
      text-decoration: none;
      padding: 0px 4px;
      overflow: hidden;
    }
  }

  div.trunc {
    color: #975;

    ol.title {
      display: inline-block;
      padding-right: 6px;
      overflow: hidden;
      height: 1.5rem;
      max-width: calc(100% - 40px);

      li {
        display: inline-block;

        a {
          color: #630;
        }

        .ago {
          display: none;
        }

        &::after {
          content: " /\0000a0";
        }
      }
    }
  }

  .sparkline-d {
    stroke: #FF0099;
    fill: #FFC0CB;
  }

  .sparkline-w {
    stroke: #9999BB;
    fill: #ACC0CB; /* rgba(255, 192, 203, .3); */
  }
}

@media only screen and (min-width: 600px) {
  #follows h3 a {
    max-width: calc(100% - 230px);
  }
}

/* general form styles */
form > div {
  margin-bottom: 8px;
}

div.err {
  color: red;
  margin-bottom: 8px;
}

label {
  font-family: sans-serif;
  font-size: 0.9rem;
  display: block;
  margin: 4px 0;
}

input, textarea, select {
  font: 1em sans-serif;
  box-sizing: border-box;
  border: 1px solid #999;
}

input, textarea {
  padding: 4px;
}

@media only screen and (min-width: 600px) {
  input, textarea {
    width: 300px;
  }
}

form p.note {
  margin: 0;
  font: 0.7em sans-serif;
}

form p.note span {
  font-style: italic;
}

button.delete {
  background-color: #F09;
  color: white;
}
