body {
  font-family: 'Signika';
  background-color: #F7F7E7;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

h1 {
  margin: 0;

  a {
    text-decoration: none;
  }
}

#fraidy {
  padding: 20px 20px 60px 20px;
  min-height: 80vh;
}

article {
  /* max-width: 780px; */
  margin: 0 auto;
  padding: 0 20px;
}

footer {
  background: #345;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;

  &.show {
    display: block;
  }

  p {
    font-size: .9rem;
    font-weight: normal;
    margin: 0;
    padding: 4px;
  }
}

#menu,
div.intro {
  ul {
    margin-top: -40px;
    float: right;
    list-style: none;
    padding: 0;
  }

  li {
    display: inline;
  }

  a {
    text-decoration: none;
    margin: 15px 5px;

    &.pink {
      padding: 7px 9px;
      background-color: #FF0099;
      border-radius: 18px;
      font-weight: bold;
      color: white;
    }
  }
}

div.intro {
  margin: 40px auto;
  max-width: 400px;
  text-align: center;

  h3 {
    font-size: 2rem;
    color: #f59;
  }
}

#follows {
  ol {
    list-style: none;
    padding: 0;
  }

  & > ol > li {
    border-bottom: dotted 1px #C77;
    position: relative;
    
    &:hover {
      border-bottom: dotted 1px #700;
    }

    &:last-child {
      border-bottom: none;
    }

    & > a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
    }
  }

  #tags {
    border-bottom: solid 3px #FA9;
    width: 100%;
    margin-bottom: 12px;

    li {
      font-family: monospace;
      font-size: 2rem;
      margin-right: 6px;
      text-align: center;
      background-color: #FDC;

      &.age-m,
      &.age-h {
        a {
          border-top: solid 4px #9DB;
        }
      }

      &.age-d,
      &.age-w {
        a {
          border-top: solid 4px #CDD;
        }
      }

      a {
        padding: 3px 20px;
        text-decoration: none;
        border-top: solid 4px #FDC;
      }

      a.active {
        background-color: #F7F7E7;
        border: solid 3px #FA9;
        border-bottom: 0;
        padding-top: 6px;
      }
    }
  }

  #imps li {
    font-size: 1.2rem;
    font-variant: small-caps;
    font-weight: bold;
    border-bottom: none;
    margin-right: 6px;

    a {
      color: #620;
    }

    &.active {
      font-size: 1.4rem;
      background: #F09;
      color: white;
      padding: 2px 6px;
    }
  }


  h3, div.extra {
    position: relative;
    z-index: 2;
    pointer-events: none;

    a {
      pointer-events: auto;
    }
  }

  h3 {
    font-size: 1.1rem;
    margin: 8px 0 4px 0;

    a {
      display: inline-block;
      text-decoration: none;
      color: #997755;
      overflow: hidden;
      max-width: calc(100% - 40px);
      white-space: nowrap;
      margin-bottom: -4px;
      margin-top: 4px;
    }

    span, a {
      padding: 0 3px;
    }
  }

  .latest {
    border-radius: 4px;
    background-color: #888866;
    color: #FFEFD5;
    font-size: .9rem;
    padding: 4px;
    cursor: default;
  }

  li.age-d,
  li.age-w {
    h3 a {
      color: #007777;
    }
    .latest {
      background-color: #559999;
    }
  }

  li.age-m,
  li.age-h {
    h3 a {
      color: #003333;
    }
    .latest {
      background-color: #118844;
    }
  }

  & > ol > li:hover h3 a.url,
  h3 a.url:hover {
    text-decoration: underline;
    color: #FF0099;
  }

  h3 img.favicon {
    background-color: #ECA;
    margin-bottom: -6px;
    margin-top: 6px;
    border-radius: 4px;
    border: solid 2px #ECA;
  }

  div.extra {
    font-size: 1.1rem;
    margin-bottom: 6px;
    padding-left: 33px;

    .enter {
      display: none;
    }

    .close {
      display: inline;
    }

    ol.title {
      list-style: square;
      color: #FA9;

      li {
        margin-bottom: 6px;

        a {
          color: #630;
          text-decoration: none;
        }

        // a:visited {
        //   color: #CA5;
        // }

        a:hover {
          color: #079;
          text-decoration: underline;
        }

        span {
          margin-left: 8px;
          font-size: 0.9rem;
          color: #553;
        }

        &.age-d,
        &.age-w {
          span {
            color: #379;
            font-weight: bold;
          }
        }

        &.age-m,
        &.age-h {
          span {
            color: #590;
            font-weight: bold;
          }
        }
      }
    }

    a.collapse {
      user-select: none;
      display: inline-block;
      background-color: #579;
      border-radius: 7px;
      color: #FED;
      font-weight: bold;
      font-size: 14px;
      baseline-shift: -3px;
      text-decoration: none;
      padding: 0px 6px 0 4px;
      margin: 0px 6px;
      overflow: hidden;
    }
  }

  div.trunc {
    color: #975;

    .enter {
      display: inline;
    }

    .close {
      display: none;
    }

    ol.title {
      display: inline-block;
      padding-right: 6px;
      overflow: hidden;
      height: 1.5rem;
      white-space: nowrap;
      max-width: calc(100% - 50px);

      li {
        display: inline-block;

        &::after {
          color: #ECA;
          content: " /\0000a0";
        }
        
        &:last-child::after {
          content: "";
        }
      }
    }
  }

  .sparkline-d {
    stroke: #FF0099;
    fill: #FFC0CB;
  }

  .sparkline-w {
    stroke: #9999BB;
    fill: #ACC0CB; /* rgba(255, 192, 203, .3); */
  }
}

@media only screen and (min-width: 600px) {
  #follows h3 a {
    max-width: calc(100% - 230px);
  }
}

#reader {
  & > ol {
    list-style: none;
    margin: 0;
    padding: 0;
    
    & > li {
      border-bottom: dotted 1px #C77;
      padding-bottom: 8px;

      .meta {
        color: #975;
      }
    }
  }
}

#feed-select {
  li {
    list-style: none;
  }
}

#settings {
  button {
    margin-left: 12px;
  }
}

/* general form styles */
form > div {
  margin-bottom: 22px;
}

div.err {
  color: red;
  margin-bottom: 8px;
}

label {
  color: #620;
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
  margin: 8px 0;
}

label.optional {
  font-weight: 400;
  font-size: 1rem;
}

input, textarea, select {
  font: 1em sans-serif;
  box-sizing: border-box;
  border: 1px solid #999;
}

input, textarea {
  padding: 4px;
}

input[type="checkbox"] {
  float: left;
  padding-right: 10px;
}

a.emoji {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  input[type="text"], textarea {
    width: 300px;
  }
}

form p.note {
  margin: 8px 0;
}

p.note {
  font-size: 0.8em;
}

button.delete {
  background-color: #F09;
  color: white;
}

/* signika font */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local('Signika Regular'), local('Signika-Regular'), url("../fonts/signika-400x.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local('Signika Regular'), local('Signika-Regular'), url("../fonts/signika-400.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 700;
  src: local('Signika Bold'), local('Signika-Bold'), url("../fonts/signika-700x.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 700;
  src: local('Signika Bold'), local('Signika-Bold'), url("../fonts/signika-700.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
